{"swagger":"2.0","info":{"version":"3.38-SNAPSHOT build:112 ","title":"inSign","contact":{"name":"inSign Support","url":"https://confluence.is2.de/display/IKB/","email":"insign-support@is2.de"}},"host":"sandbox.insign.is2.show","basePath":"/","tags":[{"name":"Administrative","description":"APIs for system administrative tasks"},{"name":"All Public","description":"All public stable APIs"},{"name":"Document retrival","description":"APIs for retrieving documents from sessions"},{"name":"Housekeeping","description":"APIs for housekeeping functions"},{"name":"Internal","description":"Internal APIs. Internal APIs may change without notice"},{"name":"Most common","description":"Most commonly used public APIs"},{"name":"Process handling","description":"APIs used for process handling"},{"name":"Session creation","description":"APIs for creating new session"},{"name":"Session status information","description":"APIs for getting status information about sessions or users"},{"name":"User handling","description":"APIs for handling users and sessions belonging to a single user"}],"schemes":["http","https"],"paths":{"/admin/cron/reschedule/{id}":{"get":{"tags":["Administrative"],"summary":"Reschedule a cron job","description":"Since 3.38","operationId":"cronRescheduleUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"Reschedule a cron job","description":"Since 3.38","operationId":"cronRescheduleUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/cron/reset/{id}":{"get":{"tags":["Administrative"],"summary":"resetTriggerFromErrorState a cron job","description":"Since 3.38","operationId":"cronResetTriggerFromErrorStateUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"resetTriggerFromErrorState a cron job","description":"Since 3.38","operationId":"cronResetTriggerFromErrorStateUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/cron/resume/{id}":{"get":{"tags":["Administrative"],"summary":"Resume a cron job","description":"Since 3.38","operationId":"cronResumeUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"Resume a cron job","description":"Since 3.38","operationId":"cronResumeUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/cron/resumeall":{"get":{"tags":["Administrative"],"summary":"Resume the scheduler","description":"Since 3.38","operationId":"cronResumeAllUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"Resume the scheduler","description":"Since 3.38","operationId":"cronResumeAllUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/cron/runnow/{id}":{"get":{"tags":["Administrative"],"summary":"Resume a cron job","description":"Since 3.38","operationId":"cronRunNowUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"Resume a cron job","description":"Since 3.38","operationId":"cronRunNowUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/cron/status":{"get":{"tags":["Administrative"],"summary":"Get the status of the cron jobs","description":"Since 3.38","operationId":"cronStatusUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CronStatus"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"Get the status of the cron jobs","description":"Since 3.38","operationId":"cronStatusUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CronStatus"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/cron/suspend/{id}":{"get":{"tags":["Administrative"],"summary":"Pause a cron job","description":"Since 3.38","operationId":"cronPauseUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"Pause a cron job","description":"Since 3.38","operationId":"cronPauseUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/cron/suspendall":{"get":{"tags":["Administrative"],"summary":"Pause the scheduler","description":"Since 3.38","operationId":"cronPauseAllUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Administrative"],"summary":"Pause the scheduler","description":"Since 3.38","operationId":"cronPauseAllUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/reloadProperties":{"get":{"tags":["All Public"],"summary":"Force reload of properties. Usually not needed, but might be useful for docker.","description":"Use with orderlist containing new ordering like: mydoc2,mydoc1,mydoc3,... all documents have to be listed","operationId":"reloadPropertiesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["All Public"],"summary":"Force reload of properties. Usually not needed, but might be useful for docker.","description":"Use with orderlist containing new ordering like: mydoc2,mydoc1,mydoc3,... all documents have to be listed","operationId":"reloadPropertiesUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN"]}]}},"/admin/systemcheckauto":{"get":{"tags":["Administrative","All Public"],"summary":"System health check","operationId":"systemCheckAutoUsingGET","produces":["application/json","text/plain;charset=UTF-8"],"parameters":[{"name":"dbschemacheck","in":"query","description":"dbschemacheck","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"Health check completed ok or has warnings only. Body=OK: Completed Ok, otherwise contains warning messages in the reponse body","schema":{"type":"string"}},"500":{"description":"Health check failed. Error messages in the reponse body","schema":{"type":"string"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN","ROLE_INSIGN_SYSCHECK"]}]},"post":{"tags":["Administrative","All Public"],"summary":"System health check","operationId":"systemCheckAutoUsingPOST","consumes":["application/json"],"produces":["application/json","text/plain;charset=UTF-8"],"parameters":[{"name":"dbschemacheck","in":"query","description":"dbschemacheck","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"Health check completed ok or has warnings only. Body=OK: Completed Ok, otherwise contains warning messages in the reponse body","schema":{"type":"string"}},"500":{"description":"Health check failed. Error messages in the reponse body","schema":{"type":"string"}}},"security":[{"basic":["ROLE_INSIGN_ADMIN","ROLE_INSIGN_SYSCHECK"]}]}},"/applos/qrcode":{"get":{"tags":["Internal"],"summary":"Return the qrcode for a pairing code as image","operationId":"getQRCodeUsingGET","produces":["image/png"],"parameters":[{"name":"pairingcode","in":"query","description":"pairingcode","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}}}},"post":{"tags":["Internal"],"summary":"Return the qrcode for a pairing code as image","operationId":"getQRCodeUsingPOST","consumes":["application/json"],"produces":["image/png"],"parameters":[{"name":"pairingcode","in":"query","description":"pairingcode","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}}}}},"/applos/resendApplosPermanentLink":{"post":{"tags":["Internal"],"summary":"Resend applos permanent link","operationId":"resendApplosPermanentLinkUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/SendApplosPermanent"}},{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"},{"name":"user","in":"query","description":"user","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RequestPairingCodeResult"}}}}},"/applos/send":{"post":{"tags":["Internal"],"summary":"Send out link for app-less signature","operationId":"sendApplosLinkUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/SendApplos"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"user","in":"query","description":"user","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RequestPairingCodeResult"}}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/aushaendigung/bestaetigen":{"get":{"tags":["Internal"],"summary":"Confirm receipt of documents","operationId":"bestaetigenUsingGET","produces":["text/html"],"parameters":[{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"post":{"tags":["Internal"],"summary":"Confirm receipt of documents","operationId":"bestaetigenUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/aushaendigung/direct":{"get":{"tags":["Internal"],"summary":"Direct link to download documents","operationId":"aushaendigungDirectUsingGET","produces":["text/html"],"parameters":[{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"post":{"tags":["Internal"],"summary":"Direct link to download documents","operationId":"aushaendigungDirectUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/aushaendigung/directExtern":{"get":{"tags":["Internal"],"summary":"Direct link to download documents","operationId":"aushaendigungDirectUsingGET_1","produces":["text/html"],"parameters":[{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"post":{"tags":["Internal"],"summary":"Direct link to download documents","operationId":"aushaendigungDirectUsingPOST_1","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/aushaendigung/getBestaetigungsdatum":{"get":{"tags":["All Public","Session status information"],"summary":"Retrieve document receipt confirmation timestamp","operationId":"getBestaetigungsdatumUsingGET","consumes":["*/*"],"produces":["application/json","application/xml"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericResult"}}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Session status information"],"summary":"Retrieve document receipt confirmation timestamp","operationId":"getBestaetigungsdatumUsingPOST","consumes":["*/*"],"produces":["application/json","application/xml"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GenericResult"}}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/aushaendigung/getPassword":{"get":{"tags":["Internal"],"summary":"Get Password for Dokument","operationId":"aushaendigungGetPasswordUsingGET","produces":["text/html"],"parameters":[{"name":"isExtern","in":"query","description":"isExtern","required":false,"type":"boolean"},{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true},"post":{"tags":["Internal"],"summary":"Get Password for Dokument","operationId":"aushaendigungGetPasswordUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"isExtern","in":"query","description":"isExtern","required":false,"type":"boolean"},{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"deprecated":true}},"/auswertung/getjson":{"get":{"tags":["Administrative"],"summary":"Get the accounting data for one or all tenants","operationId":"getAuswertungJSONUsingGET","produces":["application/json"],"parameters":[{"name":"end","in":"query","description":"end","required":true,"type":"string","format":"date-time"},{"name":"mandantenid","in":"query","description":"mandantenid","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"basic":["ROLE_INSIGN_AUSWERTUNG","ROLE_INSIGN_CONTROLLER"]}]}},"/configure/ablehnen":{"get":{"tags":["All Public","Process handling"],"summary":"Abort and delete session","operationId":"sessionloeschenUsingGET","produces":["text/html"],"parameters":[{"name":"gdprDeclined","in":"query","description":"gdprDeclined","required":false,"type":"boolean"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Process handling"],"summary":"Abort and delete session","operationId":"sessionloeschenUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"gdprDeclined","in":"query","description":"gdprDeclined","required":false,"type":"boolean"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/activateWifiDirect":{"get":{"tags":["Internal"],"summary":"Activate Wifi-Direct connection","operationId":"activateWifiDirectUsingGET","produces":["application/json"],"parameters":[{"name":"activate","in":"query","description":"activate","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}}},"post":{"tags":["Internal"],"summary":"Activate Wifi-Direct connection","operationId":"activateWifiDirectUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"activate","in":"query","description":"activate","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}}}},"/configure/addAdditionalDocument":{"post":{"tags":["All Public"],"summary":"Add one more documents metadata to a session after session creation.","description":"The document binary might be upload separately later on or attached directly to this call","operationId":"addAdditionalDocumentUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/Configuration information for a single document"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/adduser":{"post":{"tags":["All Public","User handling"],"summary":"Create new user","description":"Usually no need to call this as internal users are automatically created on session creation","operationId":"adduserUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/UserInfo"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UserID"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/beenden":{"get":{"tags":["Internal"],"summary":"Finish session and return to callback url","operationId":"sessionbeendenUsingGET","produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Finish session and return to callback url","operationId":"sessionbeendenUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/changeOwner":{"post":{"tags":["All Public","User handling"],"summary":"Change a sessions owner","operationId":"changeSessionOwnerUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"chOwner","description":"chOwner","required":true,"schema":{"$ref":"#/definitions/ChangeOwner"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/cleanupdb":{"get":{"tags":["All Public","Housekeeping"],"summary":"Cleanup database","description":"Delete all session that have previously been marked as deleted from the database now. Usually no need to call this as it is usually trigger by an internal nightly cron job.","operationId":"cleanUpDBUsingGET_1","produces":["text/html"],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["All Public","Housekeeping"],"summary":"Cleanup database","description":"Delete all session that have previously been marked as deleted from the database now. Usually no need to call this as it is usually trigger by an internal nightly cron job.","operationId":"cleanUpDBUsingPOST_1","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"delete":{"tags":["All Public","Housekeeping"],"summary":"Cleanup database","description":"Delete all session that have previously been marked as deleted from the database now. Usually no need to call this as it is usually trigger by an internal nightly cron job.","operationId":"cleanUpDBUsingDELETE_1","produces":["text/html"],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/closesession":{"get":{"tags":["Internal"],"summary":"Abort session and return to callback url","operationId":"closesessionUsingGET","produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Abort session and return to callback url","operationId":"closesessionUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/createSSO":{"post":{"tags":["Internal","User handling"],"summary":"Create OTP token for internal start module","operationId":"createTokenRequestUsingPOST","consumes":["application/json"],"produces":["text/plain"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/UserInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/createSSOForApiuser":{"post":{"tags":["Internal","User handling"],"summary":"Create JWT Token for API-User so that he can access internal start module","operationId":"createTokenRequestApiUserUsingPOST","consumes":["application/json"],"produces":["text/plain"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/UserInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/createconfigtemplate":{"post":{"tags":["Session creation"],"summary":"Add additional session configuration per mandant. If a configuration already exists, it will be updated.","operationId":"createconfigtemplateUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"configid","in":"query","description":"configid","required":true,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/ConfigureSession"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]}},"/configure/deletePage":{"get":{"tags":["Internal"],"summary":"Remove a page from a document","operationId":"deletePageUsingGET","produces":["application/json"],"parameters":[{"name":"docid","in":"query","description":"docid","required":false,"type":"string"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Remove a page from a document","operationId":"deletePageUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"docid","in":"query","description":"docid","required":false,"type":"string"},{"name":"page","in":"query","description":"page","required":false,"type":"integer","format":"int32"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/deletedocument":{"get":{"tags":["All Public","Most common","User handling"],"summary":"Remove a document from a session","description":"Document is removed if possible (i.e. document is marked as deleteable).","operationId":"deletedocumentUsingGET","produces":["application/json","application/xml"],"parameters":[{"name":"docid","in":"query","description":"docid","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Most common","User handling"],"summary":"Remove a document from a session","description":"Document is removed if possible (i.e. document is marked as deleteable).","operationId":"deletedocumentUsingPOST","consumes":["application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"docid","in":"query","description":"docid","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"delete":{"tags":["All Public","Most common","User handling"],"summary":"Remove a document from a session","description":"Document is removed if possible (i.e. document is marked as deleteable).","operationId":"deletedocumentUsingDELETE","produces":["application/json","application/xml"],"parameters":[{"name":"docid","in":"query","description":"docid","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/deletesession":{"get":{"tags":["Internal"],"summary":"No Operation","operationId":"deletesessionUsingGET","produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}],"deprecated":true},"post":{"tags":["Internal"],"summary":"No Operation","operationId":"deletesessionUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}],"deprecated":true}},"/configure/deleteuser":{"get":{"tags":["All Public","Housekeeping","Most common","User handling"],"summary":"Remove a user","description":"Remove a user and all sessions belonging to this user (foruser/owner) from the database now.","operationId":"deleteUserAndSessionsUsingGET","produces":["text/html"],"parameters":[{"name":"user","in":"query","description":"user","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["All Public","Housekeeping","Most common","User handling"],"summary":"Remove a user","description":"Remove a user and all sessions belonging to this user (foruser/owner) from the database now.","operationId":"deleteUserAndSessionsUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"user","in":"query","description":"user","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"delete":{"tags":["All Public","Housekeeping","Most common","User handling"],"summary":"Remove a user","description":"Remove a user and all sessions belonging to this user (foruser/owner) from the database now.","operationId":"deleteUserAndSessionsUsingDELETE","produces":["text/html"],"parameters":[{"name":"user","in":"query","description":"user","required":true,"type":"string"}],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/failureredirect":{"get":{"tags":["Internal"],"summary":"Callback redirect on failure","operationId":"redirectonfailureUsingGET","produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Callback redirect on failure","operationId":"redirectonfailureUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/fertig":{"get":{"tags":["Internal"],"summary":"Abort session and return to callback url","operationId":"sessionabbrechenUsingGET","produces":["text/html"],"parameters":[{"name":"gdprDeclined","in":"query","description":"gdprDeclined","required":false,"type":"boolean"},{"name":"redirect","in":"query","description":"redirect","required":false,"type":"boolean","default":true},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Abort session and return to callback url","operationId":"sessionabbrechenUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"gdprDeclined","in":"query","description":"gdprDeclined","required":false,"type":"boolean"},{"name":"redirect","in":"query","description":"redirect","required":false,"type":"boolean","default":true},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"object"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/fertigVorgangsverwaltung":{"get":{"tags":["Internal"],"summary":"Abort session and redirect to process manager","operationId":"redirectToVorgangsverwaltungUsingGET","produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Abort session and redirect to process manager","operationId":"redirectToVorgangsverwaltungUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/get/version":{"get":{"tags":["All Public","Most common"],"summary":"Get inSign version","description":"Retrieve application version.","operationId":"getVersionUsingGET","produces":["text/plain"],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["All Public","Most common"],"summary":"Get inSign version","description":"Retrieve application version.","operationId":"getVersionUsingPOST","consumes":["application/json"],"produces":["text/plain"],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/getproperties":{"get":{"tags":["Internal"],"summary":"Get a list of possible UI-properties","operationId":"getpropertiesUsingGET","produces":["application/json","application/xml"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GUIPorpertiesList"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["Internal"],"summary":"Get a list of possible UI-properties","operationId":"getpropertiesUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GUIPorpertiesList"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/initialCheck":{"get":{"tags":["Internal"],"summary":"Session sanity check","operationId":"initialCheckUsingGET","produces":["application/json"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/InitialCheckResult"}},"599":{"description":"An engine error occurred. See response body for more details"}}},"post":{"tags":["Internal"],"summary":"Session sanity check","operationId":"initialCheckUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/InitialCheckResult"}},"599":{"description":"An engine error occurred. See response body for more details"}}}},"/configure/reorderDocuments":{"get":{"tags":["All Public"],"summary":"Reorder documents after session creation.","description":"Use with orderlist containing new ordering like: mydoc2,mydoc1,mydoc3,... all documents have to be listed","operationId":"reorderDocumentsUsingGET","produces":["application/json","application/xml"],"parameters":[{"name":"orderlist","in":"query","description":"orderlist","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["All Public"],"summary":"Reorder documents after session creation.","description":"Use with orderlist containing new ordering like: mydoc2,mydoc1,mydoc3,... all documents have to be listed","operationId":"reorderDocumentsUsingPOST","consumes":["application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"orderlist","in":"query","description":"orderlist","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/configure/resetsignatures":{"get":{"tags":["All Public","Process handling"],"summary":"Reset sessions signatures","operationId":"resetSignaturesUsingGET","produces":["application/json"],"parameters":[{"name":"docid","in":"query","description":"docid","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Result"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Process handling"],"summary":"Reset sessions signatures","operationId":"resetSignaturesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"docid","in":"query","description":"docid","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Result"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/restartsession":{"get":{"tags":["All Public","Process handling"],"summary":"Reset sessions information","description":"Reset documents to inital state after upload. Clear all signatures and input fields. Generate new TAN number.","operationId":"restartsessionUsingGET","produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Process handling"],"summary":"Reset sessions information","description":"Reset documents to inital state after upload. Clear all signatures and input fields. Generate new TAN number.","operationId":"restartsessionUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RedirectView"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/session":{"post":{"tags":["All Public","Most common","Session creation"],"summary":"Creates a new session with the provided metadata for the documents","operationId":"configuredocumentsUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"configid","in":"query","description":"configid","required":false,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/ConfigureSession"}},{"name":"userconfigid","in":"query","description":"userconfigid","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ConfigureDocumentsResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]}},"/configure/sessionVorgangsverwaltung":{"get":{"tags":["All Public","Most common","Session creation"],"summary":"Creates a new session for process management","operationId":"createVorgangsverwaltungSessionUsingGET","produces":["text/plain"],"parameters":[{"name":"fromEditor","in":"query","description":"fromEditor","required":false,"type":"boolean"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Most common","Session creation"],"summary":"Creates a new session for process management","operationId":"createVorgangsverwaltungSessionUsingPOST","consumes":["application/json"],"produces":["text/plain"],"parameters":[{"name":"fromEditor","in":"query","description":"fromEditor","required":false,"type":"boolean"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/setSessionVar":{"post":{"tags":["Internal"],"summary":"Set Session Var","operationId":"setSessionVarUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"in":"body","name":"vars","description":"vars","required":true,"schema":{"$ref":"#/definitions/SetSessionVar"}}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/setcallbackurl":{"get":{"tags":["All Public","Process handling"],"summary":"Modify sessions callbackURL","description":"If you want to modify the callbackURL property of an existing session","operationId":"setcallbackurlUsingGET","produces":["application/json"],"parameters":[{"name":"callbackurl","in":"query","description":"callbackurl","required":false,"type":"string"},{"name":"callbackurlabschliessen","in":"query","description":"callbackurlabschliessen","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SessionResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Process handling"],"summary":"Modify sessions callbackURL","description":"If you want to modify the callbackURL property of an existing session","operationId":"setcallbackurlUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"callbackurl","in":"query","description":"callbackurl","required":false,"type":"string"},{"name":"callbackurlabschliessen","in":"query","description":"callbackurlabschliessen","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SessionResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/terminateWifiDirect":{"get":{"tags":["Internal"],"summary":"terminate Wifi-Direct connection","operationId":"terminateWifiDirectUsingGET","produces":["text/html"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}}},"post":{"tags":["Internal"],"summary":"terminate Wifi-Direct connection","operationId":"terminateWifiDirectUsingPOST","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}}}},"/configure/updateGUIProperties":{"post":{"tags":["Internal"],"summary":"Modify a list of session UI properties","operationId":"setSessionGUIPropertyUsingPOST_1","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"properties","description":"properties","required":true,"schema":{"type":"object"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Result"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]}},"/configure/updateGUIProperty":{"get":{"tags":["Internal"],"summary":"Modify a session UI property","operationId":"setSessionGUIPropertyUsingGET","produces":["application/json"],"parameters":[{"name":"propertyName","in":"query","description":"propertyName","required":true,"type":"string"},{"name":"propertyValue","in":"query","description":"propertyValue","required":true,"type":"object"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Result"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]},"post":{"tags":["Internal"],"summary":"Modify a session UI property","operationId":"setSessionGUIPropertyUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"propertyName","in":"query","description":"propertyName","required":true,"type":"string"},{"name":"propertyValue","in":"query","description":"propertyValue","required":true,"type":"object"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Result"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]}},"/configure/updateSessionConfigProperty":{"get":{"tags":["Internal"],"summary":"Modify a session mutable property","operationId":"setSessionPropertyUsingGET","produces":["application/json"],"parameters":[{"name":"propertyName","in":"query","description":"propertyName","required":true,"type":"string"},{"name":"propertyValue","in":"query","description":"propertyValue","required":true,"type":"object"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Result"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Modify a session mutable property","operationId":"setSessionPropertyUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"propertyName","in":"query","description":"propertyName","required":true,"type":"string"},{"name":"propertyValue","in":"query","description":"propertyValue","required":true,"type":"object"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Result"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/uploaddocument":{"post":{"tags":["All Public","Most common","Session creation"],"summary":"Upload a document into a previously configured session","operationId":"uploaddocumentstreamUsingPOST_1","consumes":["application/octet-stream"],"produces":["text/html"],"parameters":[{"name":"docid","in":"query","description":"docid","required":false,"type":"string"},{"name":"filename","in":"query","description":"filename","required":true,"type":"string"},{"name":"filesize","in":"query","description":"filesize","required":false,"type":"integer","format":"int64"},{"name":"pairingToken","in":"query","description":"pairingToken","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"user","in":"query","description":"user","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/uploaddocumentie":{"post":{"tags":["All Public","Most common","Session creation"],"summary":"Upload a document into a previously configured session","operationId":"uploaddocumentstreammultipartieUsingPOST","consumes":["multipart/form-data"],"produces":["text/html"],"parameters":[{"name":"filename","in":"formData","required":false,"type":"string"},{"name":"docid","in":"formData","required":false,"type":"string"},{"name":"pairingToken","in":"formData","required":false,"type":"string"},{"name":"sessionid","in":"formData","required":false,"type":"string"},{"name":"filesize","in":"formData","required":false,"type":"integer","format":"int64"},{"name":"user","in":"formData","required":false,"type":"string"},{"in":"body","name":"file","description":"file","required":false,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/uploadsummary":{"post":{"tags":["All Public","Session creation"],"summary":"Add summary page to a previously configured session","operationId":"uploadsummaryUsingPOST","consumes":["multipart/form-data"],"produces":["text/html"],"parameters":[{"name":"foruser","in":"formData","required":false,"type":"string"},{"name":"sessionid","in":"formData","required":false,"type":"string"},{"in":"body","name":"file","description":"file","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"Success"},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/configure/wifiDirectInfo":{"get":{"tags":["Internal"],"summary":"Wifi-Direct connection status","operationId":"getWifiDirectInfoUsingGET","produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/WifiDirectInfo"}},"599":{"description":"An engine error occurred. See response body for more details"}}},"post":{"tags":["Internal"],"summary":"Wifi-Direct connection status","operationId":"getWifiDirectInfoUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/WifiDirectInfo"}},"599":{"description":"An engine error occurred. See response body for more details"}}}},"/download/sendPassword":{"get":{"tags":["Internal"],"summary":"Get Password for Dokument","operationId":"sendPasswordFromEmailUsingGET","produces":["text/html"],"parameters":[{"name":"downloadtoken","in":"query","description":"downloadtoken","required":true,"type":"string"},{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"post":{"tags":["Internal"],"summary":"Get Password for Dokument","operationId":"sendPasswordFromEmailUsingPOST","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"downloadtoken","in":"query","description":"downloadtoken","required":true,"type":"string"},{"name":"model","in":"query","description":"model","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/dualscreen/event":{"post":{"tags":["Internal"],"summary":"Send event to client","operationId":"pusheventUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"object"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["Internal"],"summary":"Send event to client","operationId":"pusheventUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"type":"object"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/dualscreen/info":{"get":{"tags":["Internal"],"summary":"Get information about clients","operationId":"infoUsingGET","produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ClientState"}}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER","ROLE_INSIGN_ADMIN"]}]},"head":{"tags":["Internal"],"summary":"Get information about clients","operationId":"infoUsingHEAD","consumes":["application/json"],"produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ClientState"}}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER","ROLE_INSIGN_ADMIN"]}]},"post":{"tags":["Internal"],"summary":"Get information about clients","operationId":"infoUsingPOST","consumes":["application/json"],"produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ClientState"}}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER","ROLE_INSIGN_ADMIN"]}]},"put":{"tags":["Internal"],"summary":"Get information about clients","operationId":"infoUsingPUT","consumes":["application/json"],"produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ClientState"}}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER","ROLE_INSIGN_ADMIN"]}]},"delete":{"tags":["Internal"],"summary":"Get information about clients","operationId":"infoUsingDELETE","produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ClientState"}}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER","ROLE_INSIGN_ADMIN"]}]},"options":{"tags":["Internal"],"summary":"Get information about clients","operationId":"infoUsingOPTIONS","consumes":["application/json"],"produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ClientState"}}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER","ROLE_INSIGN_ADMIN"]}]},"patch":{"tags":["Internal"],"summary":"Get information about clients","operationId":"infoUsingPATCH","consumes":["application/json"],"produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"$ref":"#/definitions/ClientState"}}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER","ROLE_INSIGN_ADMIN"]}]}},"/dualscreen/log":{"get":{"tags":["Internal"],"summary":"Push client log to server","operationId":"registerUsingGET_2","produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"log","in":"query","description":"log","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"head":{"tags":["Internal"],"summary":"Push client log to server","operationId":"registerUsingHEAD_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"log","in":"query","description":"log","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["Internal"],"summary":"Push client log to server","operationId":"registerUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"log","in":"query","description":"log","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"put":{"tags":["Internal"],"summary":"Push client log to server","operationId":"registerUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"log","in":"query","description":"log","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"delete":{"tags":["Internal"],"summary":"Push client log to server","operationId":"registerUsingDELETE_2","produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"log","in":"query","description":"log","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"options":{"tags":["Internal"],"summary":"Push client log to server","operationId":"registerUsingOPTIONS_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"log","in":"query","description":"log","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["Internal"],"summary":"Push client log to server","operationId":"registerUsingPATCH_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"log","in":"query","description":"log","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"/dualscreen/pull":{"get":{"tags":["Internal"],"summary":"Poll for new dualscreen client information","operationId":"registerUsingGET_1","produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"pushnotificationstoken","in":"query","description":"pushnotificationstoken","required":false,"type":"string"},{"name":"secret","in":"query","description":"secret","required":false,"type":"string"},{"name":"startup","in":"query","description":"startup","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"head":{"tags":["Internal"],"summary":"Poll for new dualscreen client information","operationId":"registerUsingHEAD_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"pushnotificationstoken","in":"query","description":"pushnotificationstoken","required":false,"type":"string"},{"name":"secret","in":"query","description":"secret","required":false,"type":"string"},{"name":"startup","in":"query","description":"startup","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"post":{"tags":["Internal"],"summary":"Poll for new dualscreen client information","operationId":"registerUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"pushnotificationstoken","in":"query","description":"pushnotificationstoken","required":false,"type":"string"},{"name":"secret","in":"query","description":"secret","required":false,"type":"string"},{"name":"startup","in":"query","description":"startup","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"put":{"tags":["Internal"],"summary":"Poll for new dualscreen client information","operationId":"registerUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"pushnotificationstoken","in":"query","description":"pushnotificationstoken","required":false,"type":"string"},{"name":"secret","in":"query","description":"secret","required":false,"type":"string"},{"name":"startup","in":"query","description":"startup","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"delete":{"tags":["Internal"],"summary":"Poll for new dualscreen client information","operationId":"registerUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"pushnotificationstoken","in":"query","description":"pushnotificationstoken","required":false,"type":"string"},{"name":"secret","in":"query","description":"secret","required":false,"type":"string"},{"name":"startup","in":"query","description":"startup","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"options":{"tags":["Internal"],"summary":"Poll for new dualscreen client information","operationId":"registerUsingOPTIONS_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"pushnotificationstoken","in":"query","description":"pushnotificationstoken","required":false,"type":"string"},{"name":"secret","in":"query","description":"secret","required":false,"type":"string"},{"name":"startup","in":"query","description":"startup","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}},"patch":{"tags":["Internal"],"summary":"Poll for new dualscreen client information","operationId":"registerUsingPATCH_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientid","in":"query","description":"clientid","required":true,"type":"string"},{"name":"pushnotificationstoken","in":"query","description":"pushnotificationstoken","required":false,"type":"string"},{"name":"secret","in":"query","description":"secret","required":false,"type":"string"},{"name":"startup","in":"query","description":"startup","required":false,"type":"boolean","default":false}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/dualscreen/pushcustomurl":{"get":{"tags":["Internal"],"summary":"Send custom URL to client an wake him up","operationId":"pushURLUsingGET","produces":["*/*"],"parameters":[{"name":"clientId","in":"query","description":"clientId","required":true,"type":"string"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]},"head":{"tags":["Internal"],"summary":"Send custom URL to client an wake him up","operationId":"pushURLUsingHEAD","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientId","in":"query","description":"clientId","required":true,"type":"string"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]},"post":{"tags":["Internal"],"summary":"Send custom URL to client an wake him up","operationId":"pushURLUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientId","in":"query","description":"clientId","required":true,"type":"string"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]},"put":{"tags":["Internal"],"summary":"Send custom URL to client an wake him up","operationId":"pushURLUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientId","in":"query","description":"clientId","required":true,"type":"string"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]},"delete":{"tags":["Internal"],"summary":"Send custom URL to client an wake him up","operationId":"pushURLUsingDELETE","produces":["*/*"],"parameters":[{"name":"clientId","in":"query","description":"clientId","required":true,"type":"string"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]},"options":{"tags":["Internal"],"summary":"Send custom URL to client an wake him up","operationId":"pushURLUsingOPTIONS","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientId","in":"query","description":"clientId","required":true,"type":"string"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]},"patch":{"tags":["Internal"],"summary":"Send custom URL to client an wake him up","operationId":"pushURLUsingPATCH","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"clientId","in":"query","description":"clientId","required":true,"type":"string"},{"name":"url","in":"query","description":"url","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER","ROLE_RUN_AS_INSIGN_CONTROLLER"]}]}},"/dualscreen/start":{"post":{"tags":["Internal"],"summary":"Start Dualscreenmodus for session","operationId":"startUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/StartDualscreenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["Internal"],"summary":"Start Dualscreenmodus for session","operationId":"startUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/StartDualscreenRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BasicResult"}}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/evaluation/getjson":{"get":{"tags":["Administrative"],"summary":"Get the accounting data for one or all tenants","operationId":"getAuswertungJSONUsingGET_1","produces":["application/json"],"parameters":[{"name":"end","in":"query","description":"end","required":true,"type":"string","format":"date-time"},{"name":"mandantenid","in":"query","description":"mandantenid","required":false,"type":"string"},{"name":"start","in":"query","description":"start","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"basic":["ROLE_INSIGN_AUSWERTUNG","ROLE_INSIGN_CONTROLLER"]}]}},"/exportSession":{"get":{"tags":["All Public","Process handling"],"summary":"Export a session as binary data.","operationId":"exportSessionUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"compressionFormat","in":"query","description":"compression format may use 'gzip'","required":false,"type":"string"},{"name":"compressionLevel","in":"query","description":"1 to 9","required":false,"type":"integer","format":"int32"},{"name":"sessionId","in":"query","description":"session id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["All Public","Process handling"],"summary":"Export a session as binary data.","operationId":"exportSessionUsingPOST","consumes":["application/xml","application/json"],"produces":["application/octet-stream"],"parameters":[{"name":"compressionFormat","in":"query","description":"compression format may use 'gzip'","required":false,"type":"string"},{"name":"compressionLevel","in":"query","description":"1 to 9","required":false,"type":"integer","format":"int32"},{"name":"sessionId","in":"query","description":"session id","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/extern/abort":{"post":{"tags":["All Public","Process handling"],"summary":"Return session from external state","operationId":"abortUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"clientInfo","description":"clientInfo","required":false,"schema":{"$ref":"#/definitions/ClientInfo"}},{"name":"doneByServer","in":"query","description":"doneByServer","required":false,"type":"boolean"},{"name":"oldsessionid","in":"query","description":"oldsessionid","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling"],"summary":"Return session from external state","operationId":"abortUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"clientInfo","description":"clientInfo","required":false,"schema":{"$ref":"#/definitions/ClientInfo"}},{"name":"doneByServer","in":"query","description":"doneByServer","required":false,"type":"boolean"},{"name":"oldsessionid","in":"query","description":"oldsessionid","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/begin":{"post":{"tags":["All Public","Process handling"],"summary":"Start extern mode. Uses /beginmulti instead.","operationId":"setExternalUsingPOST_1","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/StartExtern"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}],"deprecated":true},"put":{"tags":["All Public","Process handling"],"summary":"Start extern mode. Uses /beginmulti instead.","operationId":"setExternalUsingPUT_1","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/StartExtern"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}],"deprecated":true}},"/extern/beginmulti":{"post":{"tags":["All Public","Process handling"],"summary":"Start extern mode and creates users for this mode. Do not set skipLandingPage=true if you plan to send links by mail.","operationId":"setExternalUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/Container for multiple external users"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternMultiuserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling"],"summary":"Start extern mode and creates users for this mode. Do not set skipLandingPage=true if you plan to send links by mail.","operationId":"setExternalUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/Container for multiple external users"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternMultiuserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/delegate":{"post":{"tags":["All Public","Process handling"],"summary":"Redirect extern process to another user","operationId":"delegateUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/ExternDelegate"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling"],"summary":"Redirect extern process to another user","operationId":"delegateUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/ExternDelegate"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/delegate/finished":{"get":{"tags":["Internal"],"summary":"Confirm receipt of documents","operationId":"dummyUsingGET_1","produces":["text/html"],"parameters":[{"name":"model","in":"query","description":"model","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}}},"post":{"tags":["Internal"],"summary":"Confirm receipt of documents","operationId":"dummyUsingPOST_1","consumes":["application/json"],"produces":["text/html"],"parameters":[{"name":"model","in":"query","description":"model","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"string"}},"599":{"description":"An engine error occurred. See response body for more details"}}}},"/extern/newtoken":{"get":{"tags":["All Public","Process handling","User handling"],"summary":"Reaktivate external user token and create new password for user if token was renewed","operationId":"newTokenUsingGET","produces":["application/json","application/xml"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Process handling","User handling"],"summary":"Reaktivate external user token and create new password for user if token was renewed","operationId":"newTokenUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling","User handling"],"summary":"Reaktivate external user token and create new password for user if token was renewed","operationId":"newTokenUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/resetlastSignature":{"post":{"tags":["All Public","Process handling"],"summary":"Redirect extern process to another user","operationId":"resetSignatureUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"$ref":"#/definitions/DeleteSignatureExtern"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RestSingleSignature"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling"],"summary":"Redirect extern process to another user","operationId":"resetSignatureUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"data","description":"data","required":true,"schema":{"$ref":"#/definitions/DeleteSignatureExtern"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RestSingleSignature"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/setExternExpirationDate":{"post":{"tags":["All Public","Process handling"],"summary":"Set expiration Date to return session automatically from external state","operationId":"setExternExpirationDateUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"externExpirationDateAsLong","in":"query","description":"externExpirationDateAsLong","required":true,"type":"integer","format":"int64"},{"name":"oldsessionid","in":"query","description":"oldsessionid","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling"],"summary":"Set expiration Date to return session automatically from external state","operationId":"setExternExpirationDateUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"externExpirationDateAsLong","in":"query","description":"externExpirationDateAsLong","required":true,"type":"integer","format":"int64"},{"name":"oldsessionid","in":"query","description":"oldsessionid","required":true,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/status":{"get":{"tags":["All Public","Session status information"],"summary":"Retrieve status about external user","operationId":"getStatusUsingGET","produces":["application/json","application/xml"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SessionStatusResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/updateUser":{"post":{"tags":["All Public","Process handling","User handling"],"summary":"Update external user information","operationId":"updateExternUserUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/StartExtern"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling","User handling"],"summary":"Update external user information","operationId":"updateExternUserUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/StartExtern"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"skipLandingPage","in":"query","description":"skipLandingPage","required":false,"type":"boolean"},{"name":"token","in":"query","description":"token","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/extern/updatetoken":{"post":{"tags":["All Public","Process handling","User handling"],"summary":"Reaktivate external user token and create new password for user","operationId":"updateTokenUsingPOST","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/ExternUserResult"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]},"put":{"tags":["All Public","Process handling","User handling"],"summary":"Reaktivate external user token and create new password for user","operationId":"updateTokenUsingPUT","consumes":["application/xml","application/json"],"produces":["application/json","application/xml"],"parameters":[{"in":"body","name":"input","description":"input","required":true,"schema":{"$ref":"#/definitions/ExternUserResult"}},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExternUserResult"}},"599":{"description":"An engine error occurred. See response body for more details"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/get/audit/download":{"get":{"tags":["Document retrival"],"summary":"Download the audit report for a process","operationId":"downloadDocumentsUsingGET_1","produces":["*/*"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Document retrival"],"summary":"Download the audit report for a process","operationId":"downloadDocumentsUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/get/blobdata":{"get":{"tags":["All Public","Most common"],"summary":"Get session custom blob data","operationId":"getBlobDataUsingGET","produces":["application/octet-stream"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["All Public","Most common"],"summary":"Get session custom blob data","operationId":"getBlobDataUsingPOST","consumes":["application/json"],"produces":["application/octet-stream"],"parameters":[{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/get/cachedsessionids":{"get":{"tags":["Internal","Session status information"],"summary":"List of session currently in cache","operationId":"getSessionsUsingGET_1","produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CachedSessionsResult"}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]},"post":{"tags":["Internal","Session status information"],"summary":"List of session currently in cache","operationId":"getSessionsUsingPOST_1","consumes":["application/json"],"produces":["application/json","application/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CachedSessionsResult"}}},"security":[{"basic":["ROLE_INSIGN_CONTROLLER"]}]}},"/get/checkstatus":{"get":{"tags":["All Public","Most common","Session status information"],"summary":"Get session status information","operationId":"getCheckStatusUsingGET","consumes":["*/*"],"produces":["application/json","application/xml"],"parameters":[{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckStatusResult"}}},"security":[{"basic":["CONTENT_OWNER","CONTENT_ALLOWNULLSESSION","CONTENT_CHECKSTATUS"]}]},"post":{"tags":["All Public","Most common","Session status information"],"summary":"Get session status information","operationId":"getCheckStatusUsingPOST","consumes":["*/*"],"produces":["application/json","application/xml"],"parameters":[{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CheckStatusResult"}}},"security":[{"basic":["CONTENT_OWNER","CONTENT_ALLOWNULLSESSION","CONTENT_CHECKSTATUS"]}]}},"/get/document":{"get":{"tags":["All Public","Document retrival","Most common"],"summary":"Download single document containing the current signatures and modifications","operationId":"getDocumentUsingGET","produces":["*/*"],"parameters":[{"name":"docid","in":"query","description":"docid","required":true,"type":"string"},{"name":"externtoken","in":"query","description":"Token for external access if access by SSO User. Only used internally","required":false,"type":"string"},{"name":"includebiodata","in":"query","description":"Type of file. Includeing Biopmetric data (true) or without biometric data (flat type). Behaviour of flat type form fields (flattened, readonly) is as configured for this session. Behaviour of signatur fields as configured for this session (skipbiodata, flat).","required":false,"type":"boolean","default":true},{"name":"originalfile","in":"query","description":"Get the original file that was initially uploaded? Default: false.","required":false,"type":"boolean","default":false},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"type","in":"query","description":"Type of download. Internal use only. type='form' to keep form field in the document and skip signatures.","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["All Public","Document retrival","Most common"],"summary":"Download single document containing the current signatures and modifications","operationId":"getDocumentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"docid","in":"query","description":"docid","required":true,"type":"string"},{"name":"externtoken","in":"query","description":"Token for external access if access by SSO User. Only used internally","required":false,"type":"string"},{"name":"includebiodata","in":"query","description":"Type of file. Includeing Biopmetric data (true) or without biometric data (flat type). Behaviour of flat type form fields (flattened, readonly) is as configured for this session. Behaviour of signatur fields as configured for this session (skipbiodata, flat).","required":false,"type":"boolean","default":true},{"name":"originalfile","in":"query","description":"Get the original file that was initially uploaded? Default: false.","required":false,"type":"boolean","default":false},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"type","in":"query","description":"Type of download. Internal use only. type='form' to keep form field in the document and skip signatures.","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/get/documents/by/ids":{"get":{"tags":["Internal"],"summary":"Retrieve metadata about one sessions document and annotations","operationId":"getFullDocumentDataByIdsUsingGET","produces":["application/json","application/xml"],"parameters":[{"name":"ids","in":"query","description":"ids","required":true,"type":"string"},{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"name":"includeAnnotations","in":"query","description":"includeAnnotations","required":false,"type":"boolean","default":false},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SessionData"}}},"security":[{"basic":["CONTENT_OWNER"]}]},"post":{"tags":["Internal"],"summary":"Retrieve metadata about one sessions document and annotations","operationId":"getFullDocumentDataByIdsUsingPOST","consumes":["application/json"],"produces":["application/json","application/xml"],"parameters":[{"name":"ids","in":"query","description":"ids","required":true,"type":"string"},{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"name":"includeAnnotations","in":"query","description":"includeAnnotations","required":false,"type":"boolean","default":false},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SessionData"}}},"security":[{"basic":["CONTENT_OWNER"]}]}},"/get/documents/download":{"get":{"tags":["All Public","Document retrival","Most common"],"summary":"Download all sessions documents as single zip file","operationId":"downloadDocumentsUsingGET","produces":["*/*"],"parameters":[{"name":"auditreport","in":"query","description":"auditreport","required":false,"type":"boolean"},{"name":"downloadtoken","in":"query","description":"downloadtoken","required":false,"type":"string"},{"name":"idVorgangsverwaltung","in":"query","description":"idVorgangsverwaltung","required":false,"type":"string"},{"name":"incBioData","in":"query","description":"incBioData","required":false,"type":"boolean"},{"name":"mustberead","in":"query","description":"mustberead","required":false,"type":"boolean"},{"name":"sessionid","in":"query","description":"sessionid","required":true,"type":"string"},{"name":"type","in":"query","description":"type","required":false,"type":"string"}],"responses":{"200":{"description":"OK"}},"security":[{"basic":["CONTENT_OWNER"]}]},"po
[...]
